body {
    font-family: 'Arial', sans-serif;
    animation: fadeIn 1s ease-in-out forwards;
}

.d-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}   

.container1{
    background-color: rgba(232, 195, 182, 0.066);
    padding: 10px;
}

.card {
    margin: 10px;
    text-align: center;
    background: transparent;
    background-color: rgba(11, 57, 196, 0.157);
    border: solid 1px #383c4835;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(10, 109, 230, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.08);
}

.card h3 {
    font-size: 24px;
    font-weight: bold;
}

.card p {
    font-size: 12px;
}

.card a {
    font-weight: bold;
    text-decoration: none;
}

.card:hover {
    opacity: 0.9;
    box-shadow: 0 10px 10px rgba(10, 131, 230, 0.352);
}
.container {
    margin-top: 300px;
    background: #fff;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.8s ease-in-out forwards;
}

.text-dark1 {
    color: rgba(45, 55, 78, 0.797) !important;
    text-decoration: underline;
}

.text-dark1:hover {
    color: rgba(44, 81, 86, 0.797) !important;
    text-decoration: underline;
}
