/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #abc0d6;
}

/* Container */
.container {
    font-size: 12px;
    max-width: 1500px;
    background: rgba(124, 172, 207, 0.034);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

/* Heading */
h2 {
    font-family: 'Monospace','Courier New';
    color: #2a5d84;
    text-align: center;
    margin-bottom: 20px;
}

/* Table */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #fff;
}

.table th, .table td {
    border: 1px solid #2a5e864e;
    padding: 10px;
    text-align: center;
}

.table th {
    font-display: left;
    background: #e0e7ef;
    color: #555;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;

}

.table tr:nth-child(even) {
    background-color: #584e4e17;
}

.table tr:hover {
    background: #f9f9f9;
}
/* Buttons */
.btn {
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
}

.btn-primary {
    background-color: #287da7a4;
    color: white;
}

.btn-primary:hover {
    background-color: #287da7dd;
}

.btn-info {
    background-color: #17a2b8;
    color: white;
}

.btn-info:hover {
    background-color: #138496;
}

.btn-warning {
    background-color: #8baaa6;
    color: white;
}

.btn-warning:hover {
    background-color: #486561;
}

.btn-danger {
    background-color: #b04e588c;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}

/* Center align action buttons */
.action-buttons {
    justify-content: left;
}

/* Alert Message */
.alert-success {
    background-color: #0660f15a;
    color: #3c1a91;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: right;
    align-items: center;
    background: rgba(124, 172, 207, 0.034);
    font-size: 12px;
    color: #555;
}

.pagination-controls {
    display: flex;
    align-items: center;
    gap: 1px;
}

.pagination-controls button {
    background: #ddd;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
}

.pagination-controls button:hover {
    background: #ccc;
}