/* Table styling */
table {
    width: 100%;
    margin: 20px 0;
    font-size: 14px;
    background-color: #ffffff;
    font-family: Verdana, Helvetica, sans-serif;
    text-align: left;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px; 
    overflow: hidden; 
}

/* Table header styling */
table thead tr {
    background-color: #004998bd;
    color: #ffffff;
    font-family: "Georgia", Times, serif;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

table th, table td {
    padding: 15px 20px;
    border-bottom: 1px solid #e0e0e0;
}

/* Table body styling */
table tbody tr {
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: none;
}

/* Action buttons styling */
.action-buttons .view-btn {
    background-color: #006f98f6;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-buttons .edit-btn {
    background-color: #006f98f6;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-buttons .delete-btn {
    background-color: #d9534f;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Add Group button styling */
.btn-primary {
    background-color: #002398bd;
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    padding: 7px 7px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Pagination styling */
.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.pagination li {
    display: inline;
    margin: 0 5px;
}

.pagination li a, .pagination li span {
    color: #004998bd;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination li a:hover {
    background-color: #ddd;
}

.pagination .active span {
    background-color: #004998bd;
    color: white;
    border: 1px solid #004998bd;
}