body {  
    animation: fadeIn 2s ease-in-out forwards;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 1rem;
    padding: 1rem;
}

.bg{
    background-color: #a9e6fb;
    padding: 1rem;
    border-radius: 10px;
    border: 5px solid;
    border-color: #81dffe;
}

/* Action buttons styling */
.action-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}

.view-btn, .edit-btn, .delete-btn {
    background-color: #3490dc;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
    margin-right: 0.25rem;
}

.delete-btn {
    background-color: #e3342f;
}

.view-btn:hover, .edit-btn:hover, .delete-btn:hover {
    opacity: 0.8;
}

.bg-white {
    width: 90%;
    background-color: #0080ff; /* New background color */
}

/* Add Group button styling */
.btn-primary {
    background-color: #28a745;
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    padding: 7px 7px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Custom Pagination styling */
.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.pagination li {
    display: inline;
    margin: 0 5px;
}

.pagination li a, .pagination li span {
    color: #004998bd;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination li a:hover {
    background-color: #ddd;
}

.pagination .active span {
    background-color: #004998bd;
    color: white;
    border: 1px solid #004998bd;
}